@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,300;0,400;1,100;1,200&family=Roboto+Mono:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,300;0,400;1,100;1,200&family=Raleway:wght@100;200;400&family=Roboto+Mono:wght@100;200;300&display=swap');

body
{
    background-color: #ffffff;
}

*
{
    padding: 0;

    margin: 0;   
}

nav
{
    font-family: 'Roboto Mono', monospace;

    font-family: 'Raleway', sans-serif;

    background-color: #1db954;

    height: 65px;

    color: aliceblue;

    position: sticky;
}

nav ul
{
    display: flex;

    align-items: center;

    list-style-type: none;
}

nav ul li
{
    padding: 0 20px;
}

.brand img
{
    height: 45px;
    padding: 8px;
}

.brand
{
    display: flex;
    
    align-items: center;

    font-weight: bolder;

    font-size: 20px;
}

.container
{
    background-color: #1db954;
    color: whitesmoke;
    min-height: 68vh;
    overflow: auto;
    margin: 23px auto;
    padding: 34px;
    width: 70%;
    border-radius: 15px;
    background-image: url('bg.jpg');
    
}

.bottom
{

    background-color:#1db954;
    color: whitesmoke;
    position: sticky;
    bottom: 0;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

#myProgressBar
{
    width: 80vw;
    cursor: pointer;
}

.icons
{
    margin-top: 14px;
}

.icons i
{
    cursor: pointer;
}

.songItemContainer{
    margin-top: 74px;
}

.songItem
{

    height: 50px;
    display: flex;
    background-color: #1db954;
    color: #ffffff;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    width: 30vw;
}

.songItem img
{
    width: 40px;
    margin: 0 20px;
    border-radius: 30px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo 
{
    position: absolute;
    left: 10vw;
    display: flex;
}
.songInfo img
{
    width: 40px;
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media screen and (max-width: 1076px) {
    .songInfo {
        flex-direction: column; /* Stack the elements vertically */
        align-items: center; /* Center align items horizontally */
    }

    #gif {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1580px) {
    .songItem
    {
        width: 40vw;
        font-size: 10px;
        
    }
}

 @media screen and (max-width: 868px) {
    .songItem
    {
        width: 70vw;
        
    }
    .songInfo
    {
        
        flex-direction: column; /* Stack the elements vertically */
        align-items: center;
        font-size: 10px;
    }
}

@media screen and (max-width: 678px) {
    .songItem
    {
       font-size: 10px;
        
    }
} 

@media screen and (max-width: 560px) {
    .songInfo #masterSongName
    {
        visibility: hidden;
        /* color: #1db954; */
        
    }
} 

@media screen and (max-width: 506px) {
    .songItem
    {
        font-size: 5px;
        color: black;
        
    }
} 